@font-face {
  font-family: "lato bold";
  src: url("../fonts/Lato-Black.ttf");
  font-weight: bold; }

@font-face {
  font-family: "lato light";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "lato-italic";
  src: url("../fonts/Lato-Italic.ttf"); }

* {
  font-family: "lato bold";
  max-height: 1000000px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.btn {
  text-decoration: none;
  display: block;
  width: 300px;
  height: 50px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 18px 55px;
  font-family: "lato light";
  font-size: 14px;
  letter-spacing: 2.8px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    color: #64c29e;
    border: 1px solid #64c29e; }

.logo {
  width: 94px;
  height: 85px;
  background: url("../img/logo/logo.png") no-repeat; }

input[type="email"], input[type='text'] {
  border: 1px solid #d3d7d9;
  width: 400px;
  height: 70px;
  padding: 28px;
  font-style: italic;
  line-height: 34px;
  font-family: lato-italic;
  font-size: 24px;
  color: #848789;
  font-size: 20px; }

input[type="submit"] {
  width: 126px;
  height: 70px;
  background-color: #64c29e;
  border: none;
  color: white;
  font-family: "lato light";
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  cursor: pointer; }

.twitter-soc-icon {
  width: 35px;
  height: 35px;
  background: url("../img/icon/twitter-soc.png") no-repeat center; }

.facebook-soc-icon {
  width: 35px;
  height: 35px;
  background: url("../img/icon/facebook-soc.png") no-repeat center; }

.pinterest-soc-icon {
  width: 35px;
  height: 35px;
  background: url("../img/icon/pinterest-soc.png") no-repeat center; }

@media only screen and (max-width: 900px) {
  input[type="email"], input[type='text'] {
    width: 100%; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.hero {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  background: url("../img/hero/hero.jpg") no-repeat center;
  background-size: cover; }

@media only screen and (max-width: 900px) {
  .hero {
    background: url("../img/bike-2__hero-img.jpg") no-repeat 70%;
    background-size: cover; } }

@media only screen and (max-width: 600px) {
  .hero {
    background: url("../img/bike-3__hero-img-second.jpg") no-repeat center;
    background-size: cover; } }

.navbar__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 35px;
  width: 618px;
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.navbar__item:nth-child(1):after, .navbar__item:nth-child(4):after {
  content: '.';
  padding-left: 40px; }

.navbar__link {
  text-decoration: none;
  color: #4d4959;
  font-family: "lato bold";
  font-size: 13px;
  letter-spacing: 2.6px;
  text-transform: uppercase; }
  .navbar__link:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #64c29e; }

@media only screen and (max-width: 900px) {
  .navbar__list {
    display: block;
    position: fixed;
    margin: 0 0 0 auto;
    width: 200px;
    height: 100vh;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    text-align: center;
    padding: 150px 0;
    opacity: 0;
    background: #f7f7f7;
    -webkit-box-shadow: -5px -1px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -5px -1px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity .3s .1s, -webkit-transform .3s;
    transition: opacity .3s .1s, -webkit-transform .3s;
    transition: opacity .3s .1s, transform .3s;
    transition: opacity .3s .1s, transform .3s, -webkit-transform .3s; }
    .navbar__list_active {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      z-index: 4;
      opacity: 1; }
  .navbar__logo {
    position: absolute;
    top: 40px;
    margin: auto;
    left: 0;
    right: 0; }
  .navbar__item {
    line-height: 6; }
    .navbar__item:nth-child(1):after, .navbar__item:nth-child(4):after {
      display: none; }
  .navbar__link {
    font-size: 18px; }
  .navbar__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: #64c29e;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 5;
    opacity: 0.4; }
    .navbar__button:hover {
      opacity: 1; }
    .navbar__button-line {
      margin: auto;
      display: block;
      width: 35px;
      height: 3px;
      background: white;
      position: relative; }
      .navbar__button-line:after {
        content: '';
        height: 3px;
        width: 35px;
        margin-top: 10px;
        background: white;
        position: absolute; }
      .navbar__button-line:before {
        content: '';
        height: 3px;
        width: 35px;
        margin-top: -10px;
        background: white;
        position: absolute; }
    .navbar__button_active {
      opacity: 1; }
      .navbar__button_active .navbar__button-line {
        height: 0; }
        .navbar__button_active .navbar__button-line:before {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          margin-top: 0px; }
        .navbar__button_active .navbar__button-line:after {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          margin-top: 0px; } }

.shift {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.shift-left {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px); }

@media only screen and (max-width: 320px) {
  .navbar__item {
    line-height: 5; } }

@media only screen and (max-height: 440px) {
  .navbar__item {
    line-height: 3; } }

@media only screen and (max-height: 360px) {
  .navbar__item {
    line-height: 2; } }

.about {
  width: 100%;
  height: 469px;
  background-color: #f7f7f7; }
  .about-wrap {
    padding-top: 117px;
    max-width: 1080px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .about__icon {
    background: url("../img/icon/icon_chain.png") no-repeat;
    width: 52px;
    height: 43px;
    margin: auto; }
  .about__title {
    margin: 34px 0;
    letter-spacing: 3.6px;
    font-size: 18px; }
  .about__descript {
    font-family: "lato light";
    line-height: 34px;
    font-size: 18px;
    color: #848789;
    margin: 0; }

@media only screen and (max-width: 1150px) {
  .about-wrap {
    max-width: 85%; } }

@media only screen and (max-width: 450px) {
  .about {
    height: 100vh; } }

@media only screen and (max-width: 360px) {
  .about-wrap {
    padding-top: 50px; } }

.work {
  width: 100%; }

.bikes-grid-wrap {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 200px 200px 200px;
  height: 600px; }

.bike-1 {
  grid-template-areas: "hero hero descript" "hero hero descript" "hero hero col3"; }
  .bike-1__hero-img {
    grid-area: hero;
    background: url("../img/bike-1__hero-img.jpg");
    position: relative; }
    .bike-1__hero-img-logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("../img/logo/bike-1__logo.png") no-repeat center;
      z-index: 2;
      width: 113px;
      height: 118px; }
  .bike-1__descript {
    grid-area: descript;
    width: 100%; }
  .bike-1__flow-img {
    background: url("../img/bike-1_flow.jpg") no-repeat center;
    grid-area: col3; }

@media only screen and (max-width: 1295px) {
  .bike-1 {
    grid-template-columns: 30% 30% 40%; } }

@media only screen and (max-width: 1100px) {
  .bike-1 {
    grid-template-columns: 27% 28% 45%; } }

@media only screen and (max-width: 960px) {
  .bike-1 {
    grid-template-columns: 25% 25% 50%; } }

.bike-2 {
  grid-template-areas: "descript hero hero" "descript hero hero" "col3 hero hero"; }
  .bike-2__hero-img {
    grid-area: hero;
    background: url("../img/bike-2__hero-img.jpg");
    position: relative; }
    .bike-2__hero-img-logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("../img/logo/bike-2__logo.png") no-repeat center;
      z-index: 2;
      width: 177px;
      height: 152px; }
  .bike-2__descript {
    grid-area: descript;
    width: 100%; }
  .bike-2__flow-img {
    background: url("../img/bike-2_flow.jpg") no-repeat center;
    grid-area: col3; }

@media only screen and (max-width: 1295px) {
  .bike-2 {
    grid-template-columns: 40% 30% 30%; }
    .bike-2__hero-img {
      background-position: center; } }

@media only screen and (max-width: 1100px) {
  .bike-2 {
    grid-template-columns: 45% 28% 27%; } }

@media only screen and (max-width: 960px) {
  .bike-2 {
    grid-template-columns: 50% 25% 25%; } }

.bike-3 {
  grid-template-areas: "hero descript hero2" "hero descript hero2" "hero col3 hero2"; }
  .bike-3__hero-img {
    grid-area: hero;
    background: url("../img/bike-3__hero-img.jpg");
    position: relative; }
    .bike-3__hero-img-2 {
      background: url("../img/bike-3__hero-img-second.jpg");
      grid-area: hero2; }
    .bike-3__hero-img-logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("../img/logo/bike-3__logo.png") no-repeat center;
      z-index: 2;
      width: 208px;
      height: 67px; }
  .bike-3__descript {
    grid-area: descript;
    width: 100%; }
  .bike-3__flow-img {
    background: url("../img/bike-3_flow.jpg") no-repeat center;
    grid-area: col3; }

@media only screen and (max-width: 1295px) {
  .bike-3 {
    grid-template-columns: 30% 40% 30%; }
    .bike-3__hero-img-2 {
      background-position: center; } }

@media only screen and (max-width: 1080px) {
  .bike-3 {
    grid-template-columns: 50% 50%; } }

.descript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .descript:before {
    content: '';
    border: 10px solid white;
    position: absolute;
    bottom: -10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .descript:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: -330px;
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #848789;
    margin: auto; }
  .descript-icon {
    padding-top: 70px; }
  .descript-title {
    margin-top: 30px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3.6px;
    color: #353738; }
  .descript-text {
    margin: 26px 50px;
    font-family: 'lato light';
    color: #848789;
    line-height: 30px;
    font-size: 16px; }

@media only screen and (max-width: 1100px) {
  .descript-icon {
    padding-top: 50px; } }

@media only screen and (max-width: 900px) {
  .descript-icon {
    padding-top: 35px; } }

@media only screen and (max-width: 450px) {
  .bikes-grid-wrap {
    grid-template-areas: "hero" "descript" "col3";
    grid-template-columns: 1fr;
    grid-template-rows: 600px 400px 200px;
    height: 100%; } }

@media only screen and (max-width: 360px) {
  .bikes-grid-wrap {
    grid-template-rows: 600px 450px 200px; } }

@media only screen and (max-height: 360px) {
  .bikes-grid-wrap {
    grid-template-rows: 250px 250px 100px; }
  .descript:after {
    bottom: -420px; } }

.slider-wraper {
  width: 100%;
  height: 200px;
  position: relative; }

.slider {
  position: relative;
    position-overflow: hidden;
    position-width: inherit;
    position-height: inherit; }

.slides {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  z-index: 0;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s; }

input[name="point"] {
  display: none; }

.controls {
  left: 50%;
  margin-left: -60px;
  top: 240px;
  position: absolute; }
  .controls label {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    width: 11px;
    margin: 0 12px 0 16px;
    position: relative;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s; }
    .controls label:hover {
      background: #ddd; }
    .controls label:after {
      border: 1px solid #c8c8c8;
      content: " ";
      display: block;
      height: 11px;
      left: -1px;
      position: absolute;
      top: -1px;
      width: 11px;
      border-radius: 50%; }

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
  background: #ddd; }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

@media only screen and (max-width: 450px) {
  .controls {
    top: 290px;
    position: absolute; } }

.twitter {
  height: 470px;
  width: 100%; }
  .twitter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    width: 1040px;
    margin: auto;
    padding-top: 124px; }
  .twitter__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1040px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .twitter__title {
    color: #353738;
    letter-spacing: 1.8px; }
  .twitter__time {
    font-family: 'lato light';
    color: #848789;
    position: relative;
    margin-left: 5px; }
    .twitter__time:before {
      content: ' / ';
      positon: absolute;
      left: -5px; }
  .twitter__descript {
    margin: 0;
    height: 160px;
    font-style: italic;
    line-height: 34px;
    font-family: lato-italic;
    font-size: 24px;
    color: #848789; }

@media only screen and (max-width: 1100px) {
  .twitter-wrap {
    width: 85%; }
  .twitter__text-wrap {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .twitter-wrap {
    padding-top: 80px; } }

@media only screen and (max-width: 450px) {
  .twitter__descript {
    height: 60%; } }

.shop {
  width: 100%; }
  .shop-image-wraper {
    width: 100%;
    display: grid;
    grid-template-rows: 267px 267px;
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-areas: "img-1 img-2 img-3 img-4 img-5 img-5" "img-6 img-6 img-3 img-4 img-7 img-8"; }
  .shop__image-1 {
    grid-area: img-1;
    background: url("../img/shop-img-1.jpg") no-repeat center; }
  .shop__image-2 {
    grid-area: img-2;
    background: url("../img/shop-img-2.jpg") no-repeat center; }
  .shop__image-3 {
    grid-area: img-3;
    background: url("../img/shop-img-3.jpg") no-repeat center; }
  .shop__image-4 {
    grid-area: img-4;
    background: url("../img/shop-img-4.jpg") no-repeat center; }
  .shop__image-5 {
    grid-area: img-5;
    background: url("../img/shop-img-5.jpg") no-repeat center; }
  .shop__image-6 {
    grid-area: img-6;
    background: url("../img/shop-img-6.jpg") no-repeat center; }
  .shop__image-7 {
    grid-area: img-7;
    background: url("../img/shop-img-7.jpg") no-repeat center; }
  .shop__image-8 {
    grid-area: img-8;
    background: url("../img/shop-img-8.jpg") no-repeat center; }
  .shop__discover {
    background-color: #282f35;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.shop__btn {
  margin: 75px auto; }

.contact {
  width: 100%;
  min-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 540px;
    height: 250px; }
  .contact__claim {
    width: 100%;
    text-align: center;
    font-style: italic;
    line-height: 34px;
    font-family: lato-italic;
    font-size: 24px;
    color: #848789; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .contact__button {
    margin-left: 10px; }

@media only screen and (max-width: 900px) {
  .contact-wraper {
    width: 100%; }
  .contact__button {
    margin: 25px auto; } }

@media only screen and (max-width: 390px) {
  .contact__form {
    margin: auto 10px; }
  .contact-wraper {
    height: 300px; } }

.footer {
  width: 100%;
  height: 250px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto 250px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .footer__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 240px;
    height: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #848789;
    line-height: 17.87px; }
  .footer__text-title {
    font-size: 16px;
    font-family: "lato light";
    margin: 0;
    padding: 0; }
  .footer__text-adress, .footer__text-email {
    font-size: 14px;
    font-family: "lato-italic";
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #848789;
    text-decoration: none; }
  .footer__social-wrap {
    width: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__copyright {
    width: 240px; }

.copyright {
  font-style: italic;
  line-height: 34px;
  font-family: lato-italic;
  font-size: 24px;
  color: #848789;
  font-size: 14px;
  line-height: 1.2;
  text-align: right; }

@media only screen and (max-width: 1295px) {
  .footer-wraper {
    margin: auto 170px; } }

@media only screen and (max-width: 1050px) {
  .footer-wraper {
    margin: auto 80px; } }

@media only screen and (max-width: 900px) {
  .footer-wraper {
    margin: auto 30px; } }

@media only screen and (max-width: 450px) {
  .footer {
    height: 300px; }
    .footer-wraper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .footer__social-wrap {
      width: 50%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 20px 0 30px 0; }
  .copyright {
    text-align: center; } }

@media only screen and (max-height: 360px) {
  .footer {
    height: 100px; }
    .footer-wraper {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 90%; }
    .footer__social-wrap {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 20px 0 30px 0; }
  .copyright {
    text-align: rigth; } }
