* {
  box-sizing: border-box;
}

body {
  
}
.field {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #cccccc;
}

.excel {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.snakeBody {
  background: #000;
}

.head {
  background: pink;
}

.mouse {
  background: red;
}