* {
  box-sizing: content-box;
  font-family: sans-serif;

}

body {

}

#field {
  width: 320px;
  height: 320px;
  border: 1px solid black;
}

.chess-block {
  width: 40px;
  height: 40px;
  float: left;
}

.bg-black {
  background: rgba(26, 14, 20, 0.781);
}

.active {
  background-image: url('horse.png');
  background-size: contain;
  background-color: orange;
}

.green {
  background-color: green;
}