* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background: black; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.close-button {
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 20px;
  top: 20px;
  background: url(../img/interface/cancel.svg) no-repeat center;
  background-size: contain;
  cursor: pointer; }

.open-button {
  display: block;
  cursor: pointer;
  width: 220px;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: center;
  right: 20px;
  top: 20px;
  text-decoration: none;
  border: 1px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .open-button_active {
    display: none; }
  .open-button:hover {
    color: black;
    background: white; }

.call-back {
  position: relative;
  width: 450px;
  height: 500px;
  background: white;
  border-radius: 5px;
  display: none; }
  .call-back_show {
    display: block; }
  .call-back__title {
    text-align: center;
    font-size: 20px; }
  .call-back__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 430px; }
  .call-back__input {
    width: 60%;
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid grey; }
  .call-back__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .call-back__rating label {
      display: block;
      cursor: pointer;
      font-size: 40px;
      position: relative; }
      .call-back__rating label:before {
        content: '\2605';
        display: block;
        color: grey;
        position: relative; }
      .call-back__rating label:after {
        content: '\2605';
        position: absolute;
        display: block;
        color: #f4dc42;
        top: 0;
        opacity: 0;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
      .call-back__rating label:hover:after,
      .call-back__rating label:hover ~ label:after {
        opacity: 1; }
    .call-back__rating input:checked ~ label:after {
      opacity: 1; }
    .call-back__rating input {
      display: none; }
    .call-back__rating-title {
      display: block;
      margin-top: 20px; }
  .call-back__submit {
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: #5894f4;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer; }
    .call-back__submit:hover {
      background: #6faaf2; }
